<a href="https://colab.research.google.com/github/subashini092/NLP/blob/main/FN2_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### ML MODEL BUILDING AND DEPLOYMENT

###FAKE NEWS DETECTION

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
data = pd.read_csv('/content/fake_news.csv')

In [5]:
data.shape

(20800, 5)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20800 entries, 0 to 20799
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      20800 non-null  int64
 1   title   20242 non-null  object
 2   author  18843 non-null  object
 3   text    20761 non-null  object
 4   label   20800 non-null  int64
dtypes: int64(2), object(3)
memory usage: 812.6+ KB

In [7]:
data.isna().sum()

id           0
title      558
author    1957
text        39
label        0
dtype: int64

In [8]:
data = data.drop(['id'], axis=1)

In [10]:
data = data.fillna('') # Correct the method name to fillna

In [11]:
data['content'] = data['author']+' '+data['title']+' '+data['text']

### DATA PREPROCESSING

In [12]:
# Convert to lowercase
data['content'] = data['content'].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [14]:
#Remove punctuation
import re

data['content'] = data['content'].str.replace('[^a-zA-Z0-9\s]', '', regex=True)

In [2]:
import nltk
nltk. download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [15]:
# Remove atop words
from nltk.corpus import stopwords
stop = stopwords.words('english')
data['content'] = data['content'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))

In [3]:
!pip install textblob

Requirement already satisfied: textblob in /usr/local/lib/python3.11/dist-packages (0.19.0)
Requirement already satisfied: nltk>=3.9 in /usr/local/lib/python3.11/dist-packages (from textblob) (3.9.1)
Requirement already satisfied: click in /usr/local/lib/python3.11/dist-packages (from nltk>=3.9->textblob) (8.1.8)
Requirement already satisfied: joblib in /usr/local/lib/python3.11/dist-packages (from nltk>=3.9->textblob) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.11/dist-packages (from nltk>=3.9->textblob) (2024.11.6)
Requirement already satisfied: tqdm in /usr/local/lib/python3.11/dist-packages (from nltk>=3.9->textblob) (4.67.1)

In [18]:
# data = data.drop(['id'], axis=1)  # Remove or comment out this line

In [19]:
# fill missing values with empty string
data = data.fillna('')

In [20]:
data['content'] = data['author']+' '+data['title']+' '+data['text']